

  .form-content {
    display: flex;
  }
  
  .input-field {
    flex: 1;
    margin-right: 10px;
  }
  
  .add-button {
    flex-shrink: 0;
  }
  
  .form-input {
    display: flex;
  }